*.bkp
*.drawio
*.mwb
HELP.md

# Archivos compilados de Java
*.class

# MacOS
.AppleDouble
.LSOverride
__MACOSX/

# Archivos temporales, respaldos, editores
*.log
*.tmp
*.bak
*.swp
*~
*.orig

# NetBeans (configuración privada)
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

# Carpetas de compilación y distribución
build/
dist/

# Gradle
.gradle/
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/
!**/src/test/**/build/

# STS (Spring Tool Suite)
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

# IntelliJ IDEA
.idea/
*.iws
*.iml
*.ipr
out/
!**/src/main/**/out/
!**/src/test/**/out/

# VS Code
.vscode/

# Windows
Thumbs.db
ehthumbs.db
Desktop.ini

# Variables de entorno
.env
